{% extends "layout.html" %} {% block maincontent %}
<form id="covid-form" action="" method="post">
  <div class="field-place">
    <i class="bi bi-geo-alt"></i>
    <input type="text" name="place" placeholder="State or City" />
    <i class="bi bi-arrow-right"></i>
  </div>
  <div class="field-needs inactive">
    <i class="bi bi-bag-plus"></i>

    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="radio"
        id="oxygen"
        name="need"
        value="oxygen"
        checked
      />
      <label class="form-check-label" for="oxygen">Oxygen</label>
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="radio"
        name="need"
        id="beds"
        value="beds"
      />
      <label class="form-check-label" for="beds">Beds</label>
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="radio"
        name="need"
        id="plasma"
        value="plasma"
      />
      <label class="form-check-label" for="plasma">Plasma</label>
    </div>
    <i class="bi bi-arrow-right"></i>
  </div>
  <!-- <div class="field-finish inactive">
        <i class="bi bi-heart-fill"></i>
        <p>Thank You!</p>
        <i class="bi bi-heart-fill"></i>
      </div> -->
</form>

{% endblock maincontent %} {% block jscont %}
<script src="static/app.js"></script>
{% endblock jscont %}
