{% extends "layout.html" %} {% block maincontent %}
<div class="main-content">
  <div class="form">
    <form method="POST" id="vaccineForm">
      <div class="inp-field">
        <input
          type="text"
          placeholder="Pincode"
          name="pincode"
          autofocus
          required
        />
      </div>

      <div class="submit">
        <input type="submit" />
      </div>
      <div class="newpage-link">
        To Get Oxygen,beds or Plasma
        <a href="/"> Click Here</a>
      </div>
    </form>
  </div>
</div>
{% endblock maincontent %} {% block jscont %}
<script>
  const mainForm = document.getElementById("vaccineForm");
  mainForm.onsubmit = () => {
    document.getElementById("loader").style.display = "block";
    document.querySelector("main").style.display = "hide";
  };
</script>
{% endblock jscont %}
